<p id="notice"><%= notice %></p>
<div class="panel panel-default devise-bs" xmlns:font-size="http://www.w3.org/1999/xhtml">
  <div class="panel-heading">
    <h1 align="center"> Cart </h1>
  </div>
  <div class="panel-body">
    <div class="row">

    </div>

    <div class="row">

    </div>

  </div>
</div>
